<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Mock Correlation (2) Template</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <div class="temp"></div>
    <div class="container">
      <div class="flex-between">
        <div class="w-65">
          <object class="visualization" data="/images/plot1.svg" type="image/svg+xml"></object>
        </div>
        <div class="about w-35">
          <p>
            How two variables (columns) in your spreadsheet are related in detail.
          </p>
          <p>
            A line close to <img class="inline" src="/images/positive-trend.svg"/> means positive correlation,
            <img class="inline" src="/images/negative-trend.svg"/> means negative correlation,
            and <img class="inline" src="/images/weak-positive-trend.svg"/> or <img class="inline" src="/images/weak-negative-trend.svg"/> means
            that the variables are weakly correlated or not correlated at all.
          </p>
          <p>
            Clustered points <img class="inline" src="/images/clustered.svg"/> mean that the line is a strong trend,
            while scattered points <img class="inline" src="/images/scattered.svg"/> mean that the trend is weak or questionable.
            <a href="https://en.wikipedia.org/wiki/Local_regression">Learn more</a>
          </p>
        </div>
      </div>
      <div class="flex-between">
        <div class="w-20">
          <object class="visualization" data="/images/plot2.svg" type="image/svg+xml"></object>
        </div>
        <div class="w-20">
          <object class="visualization" data="/images/plot3.svg" type="image/svg+xml"></object>
        </div>
        <div class="w-20">
          <object class="visualization" data="/images/plot4.svg" type="image/svg+xml"></object>
        </div>
        <div class="w-20">
          <object class="visualization" data="/images/plot5.svg" type="image/svg+xml"></object>
        </div>
        <div class="w-20">
          <object class="visualization" data="/images/plot6.svg" type="image/svg+xml"></object>
        </div>
      </div>
    </div>
  </body>
</html>
