<div id="authorize-container" class="help-message hidden">
  <div class="authorize-header">
    <div class="authorize-text message-text">
      <p class="help-paragraph">This spreadsheet is private. Link your Google account to visualize all of your private spreadsheets.</p>
    </div>
    <div id="signin" class="signin">
      <img class="google-logo signin-logo" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      <div class="signin-text">
        Link your account
      </div>
    </div>
  </div>
</div>
