<div id="loading-issue" class="loading-issue hidden">
  <div class="issue-help-container hidden">
    <div class="issue-help"></div>
    <div class="issue-contact">If you're still having problems, <a href="mailto:eedahlgren@gmail.com">contact Erin</a> for help.</div>
  </div>
  <div class="bug-report hidden">
    <div class="bug-help">
      <span class="semi-bold">You found a bug!</span> Copy the bug report below and <a href="mailto:eedahlgren@gmail.com">send it to Erin</a> so this bug can be fixed.
      In the meantime, <a href="/">try a different spreadsheet</a>.
    </div>
    <div class="bug-details">
      <div class="bug-section">Bug report:</div>
      <div class="bug-section mt-0.5">
        [Step] <span class="step-description"></span>
      </div>
      <div class="bug-section">
        [Issue] <span class="issue-description"></span>
      </div>
      <div class="bug-section">
        [Extra details] <span class="details-description"></span>
      </div>
    </div>
  </div>
</div>
