<div id="plot-loader" class="plot-loader">
  <div id="plot-loader-part1" class="plot-loader-part">
    <div class="plot-loader-bar">
      <div class="plot-loader-bar-incomplete"></div>
      <div class="plot-loader-bar-complete" style="width: 0%"></div>
    </div>
    <div class="plot-loader-part-title">Accessing spreadsheet</div>
    <div class="plot-loader-part-desc"></div>
  </div>

  <div id="plot-loader-part2" class="plot-loader-part">
    <div class="plot-loader-bar">
      <div class="plot-loader-bar-incomplete"></div>
      <div class="plot-loader-bar-complete" style="width: 0%"></div>
    </div>
    <div class="plot-loader-part-title">Making visualization</div>
    <div class="plot-loader-part-desc"></div>
  </div>
</div>
