<div id="report-loader" class="report-loader">
  <div id="report-loader-part1" class="report-loader-part">
    <div class="report-loader-bar">
      <div class="report-loader-bar-incomplete"></div>
      <div class="report-loader-bar-complete" style="width: 0%"></div>
    </div>
    <div class="report-loader-part-title">Accessing spreadsheet</div>
    <div class="report-loader-part-desc"></div>
  </div>

  <div id="report-loader-part2" class="report-loader-part">
    <div class="report-loader-bar">
      <div class="report-loader-bar-incomplete"></div>
      <div class="report-loader-bar-complete" style="width: 0%"></div>
    </div>
    <div class="report-loader-part-title">Loading designs</div>
    <div class="report-loader-part-desc"></div>
  </div>

  <div id="report-loader-part3" class="report-loader-part">
    <div class="report-loader-bar">
      <div class="report-loader-bar-incomplete"></div>
      <div class="report-loader-bar-complete" style="width: 0%"></div>
    </div>
    <div class="report-loader-part-title">Making visualizations</div>
    <div class="report-loader-part-desc"></div>
  </div>
</div>
