<div class="top-nav-container">
  <div class="top-nav">
    <a href="/" class="top-nav-logo">Graphic Sheets <span class="demo-logo">Alpha</span></a>

    <div class="top-options">
      <a href="/" target="_blank" class="top-option">New</a>
      <div class="top-option">
        <div id="saved-reports-button">
          Saved
        </div>
        <div id="saved-reports-popup" class="popup-container hidden">
          <div class="popup">
            <div class="popup-content">
              <div class="popup-content-header">Saved Reports <span class="popup-small-desc">Not yet implemented</span></div>
              <p>Saved Reports will be a page that shows the reports you saved to your Google Drive. A report contains all of the graphics and text you see when you visualize a spreadsheet. You'll be able to:</p>
              <ul>
                <li>Avoid remaking spreadsheet graphics</li>
                <li>Open and edit older graphics</li>
                <li>Link to reports in websites, Google Docs, and PDFs</li>
              </ul>
            </div>
            <div class="popup-close">&#9587;</div>
          </div>
        </div>
      </div>
      <div class="top-option">
        <div id="settings-button">
          Settings
        </div>
        <div id="settings-popup" class="popup-container hidden">
          <div class="popup">
            <div class="popup-content">
              <div class="popup-content-header">Settings <span class="popup-small-desc">Not yet implemented</span></div>
              <p>Settings will be a page that allows you to link and unlink your Google account. By linking your Google account you'll be able to visualize your private Google spreadsheets and save graphics to your Google Drive. You'll also be able to:</p>
              <ul>
                <li>Learn how your data is kept private</li>
                <li>Enable access to Google Docs and Slides</li>
              </ul>
            </div>
            <div class="popup-close">&#9587;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
