<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>Mock Correlation (1) Template</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>

  <body>
    <div class="temp"></div>
    <div class="container">
      <div class="flex-between">
        <div class="w-65">
          <object class="visualization" data="/images/plot1.svg" type="image/svg+xml"></object>
        </div>
        <div class="about w-35">
          <p>Strong and weak relationships between pairs of variables (columns) in your spreadsheet.</p>
          <p><img class="inline" src="/images/dark-blue.svg"/> means that when one variable increases, the other usually does as well. <img class="inline" src="/images/dark-red.svg"/> is the opposite of <img class="inline" src="/images/dark-blue.svg"/>. When one variable increases, the other usually decreases. <img class="inline" src="/images/light-blue.svg"/> or <img class="inline" src="/images/light-red.svg"/> means a weak relationship, so these variables may not have much to do with each other, or you may need more data to be sure.</p>
          <p>Numbers -1 <img class="inline" src="/images/color-scale.svg"/> 1 are scores. Use them to find the strongest relationships (close to 1 or -1) and the weakest ones (close to 0). <a href="https://en.wikipedia.org/wiki/Pearson_correlation_coefficient">Learn more</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
