---
# Only the main Sass file needs front matter (the dashes are enough)
---

$baseurl: "{{ site.url | append: site.baseurl }}";

@charset "utf-8";

/**
 * Fonts
 */
@font-face {
    font-family: 'Cerebri Regular';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    unicode-range: U+000-5FF;
    src: url($baseurl + "/assets/fonts/CerebriSansPro-Regular.woff2") format("woff2");
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

// Help messages

.message-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #000000;
}

.message-text-bold {
  font-weight: 400;
}

.help-message {
  background: #f2f8fa;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.help-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.loading-issue {
  width: 90%;
  max-width: 540px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  background: #f2f8fa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.issue-help-container {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}

.issue-contact {
  margin-top: 1.5rem;
}

.issue-contact a {
  color: inherit;
}

.bug-report {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: #000000;
}

.bug-help {
  margin-bottom: 1.5rem;
}

.bug-details {
  background: #ffffff;
  line-height: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.bug-help a {
  color: inherit;
}

// Top nav

.top-nav-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;
  margin-bottom: 64px;

  background: #ffffff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1192px;
  margin-left: 64px;
  margin-right: 64px;
}

.top-nav-logo {
  font-family: 'DM Serif Text', serif;
  font-size: 22px;
  color: #000000;
  text-decoration: none;
}

.demo-logo {
  font-family: 'Cerebri Regula  r', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  vertical-align: 50%;
  margin-left: 4px;
}

.top-options {
  display: flex;
  align-items: center;
}

.top-option {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);

  margin-left: 2em;
  text-decoration: none;
  cursor: pointer;
}

.top-option:hover {
  color: rgba(0, 0, 0, 0.8);
}

.popup-container {
  display: flex;
  background: rgba(0, 0, 0, 0.2);

  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  width: 90%;
  max-width: 700px;
  height: 90%;
  max-height: 600px;

  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  position: relative;
  background: #ffffff;
  box-shadow: 0 8.1px 7px rgba(0, 0, 0, 0.02);

  display: flex;
  justify-content: space-between;
}

.popup-content {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 10rem;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.popup-content-header {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.popup-small-desc {
  display: inline-block;
  margin-left: 12px;

  font-size: 12px;
  font-weight: 400;
  color: #6391a6;
  text-transform: uppercase;
}

.popup-close {
  color: #666666;
  width: fit-content;
  margin-left: auto;
  font-size: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

// New page

.new-container {
  width: 90%;
  max-width: 800px;

  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24rem;
}

.hero-text {
  text-align: center;
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
}

.hero-subtext {
  text-align: center;
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 6rem;
}

.hero-subtext img {
  width: 22px;
  margin-left: 8px;
  margin-right: 8px;
}

.demo-text {
  font-family: 'Cerebri Regular', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #7a99a3;
  margin-right: 2rem;
  text-transform: uppercase;
}

.samples {
  margin-top: 2rem;
}

.sample {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.sample-bordered {
  border-bottom: 1px solid #e6e6e6;
}

.sample-description {
  display: flex;
  align-items: center;
}

.sample-title {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 2px;
}

.sample-logo {
  height: 20px;
  width: 20px;
  margin-right: 1.5rem;
  cursor: pointer;
}

.sample-logo svg {
  width: 20px;
}

.submit-spreadsheet {
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;

  font-family: 'Cerebri Regular', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #a1bec9;
  cursor: pointer;
}

.submit-spreadsheet:hover {
  color: #5d8391;
}



.new-submit-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid #e6edf0;
  font-family: 'Cerebri Regular', sans-serif;
  font-weight: 400;
}

.new-google-logo {
  background-color: #ffffff;
  width: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.new-spreadsheet-url {
  width: calc(100% - 64px);
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 0px;
  margin-right: 0px;

  border: none;
  line-height: 2;
  font-size: 14px;
  color: #303030;
}

.new-spreadsheet-url::placeholder {
  color: #aaaaaa;
  font-style: italic;
}

.new-spreadsheet-url:focus {
  outline: none;
}

.new-submit-spreadsheet {
  width: fit-content;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 16px;
  margin-right: 16px;

  font-size: 20px;
  line-height: 1;
  color: #a1bec9;
  cursor: pointer;
}

.new-submit-spreadsheet:hover {
  color: #5d8391;
}

.spreadsheet-examples {
  margin-top: 3rem;
}

.spreadsheet-example {
  display: flex;
  justify-content: space-between;
  align-items: end;

  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spreadsheet-example-bordered {
  border-bottom: 1px solid #e6e6e6;
}

.spreadsheet-example-desc {
  width: 100%;
}

.spreadsheet-example-title {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #000000;
}

.spreadsheet-example-buttons {
  display: flex;
  align-items: center;
  width: fit-content;
}

.spreadsheet-example-choose {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: .5px;

  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;

  background-color: #f0f5f7;
  color: #000000;
  cursor: pointer;
}

.spreadsheet-example-choose:hover {
  background-color: #e9f0f2;
}

.spreadsheet-example-view {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.spreadsheet-example-view img {
  margin-left: 3px;
  width: 9px;
}

.spreadsheet-example-text {
  margin-top: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}

// Report page

.report-container {
  width: 90%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24rem;
}

.dropdown {
  position: relative;
}

.dd-button {
  padding-left: 0.5rem;
  width: 100%;
}

.dd-button-highlight {
  background-color: #f6f6f6;
}

.dd-menu {
  position: absolute;
  z-index: 1;

  width: 325px;
  top: 100%;

  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;

  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-menu-border-bottom {
  border-bottom: 1px solid #f2f2f2;
}

.enable-dd-menu-item{
  padding: 14px 20px;
  cursor: pointer;
}

.enable-dd-menu-item:hover {
  background-color: #f6f6f6;
}

.disable-dd-menu-item {
  padding: 14px 20px;
  cursor: default;
}

.disable-dd-menu-item:hover {
  background-color: #ffffff;
}

.dd-menu-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: #000000;
}

.dd-menu-text-desc {
  margin-left: 4px;
  font-weight: 300;
}

.dd-menu-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;

  color: #707070;
  margin-top: 4px;
  margin-bottom: 4px;
}

.dd-menu-div {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
}

.dd-menu-small-desc {
  display: inline-block;
  margin-left: 8px;

  font-size: 10px;
  font-weight: 400;
  color: #45a1cc;
  text-transform: uppercase;
}

.dd-menu-text-lower {
  margin-top: 8px;
}

.processing {
  margin-top: 8rem;
  margin-bottom: 12rem;
}

.report-loader {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.report-loader-part {
  width: calc(33% - 8px);
}

.report-loader-bar {
  position: relative;
  width: 100%;
  height: 6px;
}

.report-loader-bar-incomplete {
  width: 100%;
  height: 100%;
  background: #f2f6f7;
}

.report-loader-bar-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #cadfe6;
}

.report-loader-part-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: #666666;
  margin-top: 0.5rem;
  margin-left: 4px;
}

.report-loader-part-desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #666666;
  margin-left: 4px;
}

.report {
  margin-top: 6rem;
}

.report-spreadsheet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.report-spreadsheet-header-title {
  width: fit-content;
  max-width: 75%;
}

.report-help {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #a3a3a3;
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.report-spreadsheet-title {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #000000;
}

.report-spreadsheet-url {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.report-spreadsheet-header-options {
  width: fit-content;
  border-left: 1px solid #e3e3e3;
}

.report-spreadsheet-option {
  margin-left: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #666666;
  cursor: pointer;
}

.report-plots-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.report-plot-title {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #000000;
}

.report-plot-5 {
  width: calc(20% - 24px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.report-plot-5 svg {
  margin-top: 1rem;
}

.report-plot-4 {
  width: calc(25% - 24px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.report-plot-4:hover {
  box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.2);
  cursor: pointer;
}

.report-plot-4 svg {
  margin-top: 1rem;
}

.report-plot-3 {
  width: calc(33% - 24px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.report-plot-3:hover {
  box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.2);
  cursor: pointer;
}

.report-plot-3 svg {
  margin-top: 1rem;
}

.report-plot-2 {
  width: calc(50% - 24px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.report-plot-2:hover {
  box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.2);
  cursor: pointer;
}

.report-plot-2 svg {
  margin-top: 1rem;
}

.report-plot-1 {
  width: calc(90% - 24px);
  margin-right: 24px;
  margin-bottom: 32px;
}

.report-plot-1:hover {
  box-shadow: 2px 2px 10px rgba(204, 204, 204, 0.2);
  cursor: pointer;
}

.report-plot-1 svg {
  margin-top: 1rem;
}

.report-svg-wrap {
  text-decoration: none;
}

.page-container {
  width: 100%;
  margin-top: 6rem;
  margin-bottom: 24rem;
}

.wrapper-sm {
  width: 90%;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-md {
  width: 90%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-lg {
  width: 90%;
  max-width: 1192px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-xlg {
  width: 90%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.plot-loader {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.plot-loader-part {
  width: calc(50% - 8px);
}

.plot-loader-bar {
  position: relative;
  width: 100%;
  height: 6px;
}

.plot-loader-bar-incomplete {
  width: 100%;
  height: 100%;
  background: #f2f6f7;
}

.plot-loader-bar-complete {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: #cadfe6;
}

.plot-loader-part-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1px;
  color: #666666;
  margin-top: 0.5rem;
  margin-left: 4px;
}

.plot-loader-part-desc {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #666666;
  margin-left: 4px;
}

.plot-spreadsheet-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plot-spreadsheet-header-title {
  width: fit-content;
  max-width: 75%;
}

.plot-spreadsheet-url {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.plot-title {
  font-family: 'Cerebri Regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  color: #000000;
}

.plot-spreadsheet-header-options {
  width: fit-content;
  border-left: 1px solid #e3e3e3;
}

.plot-spreadsheet-option {
  margin-left: 0.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1px;
  color: #666666;
  cursor: pointer;
}

.plot-spreadsheet-option:hover {
  color: #808080;
}

.general-paragraph-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.actual-plot {
  margin-bottom: 4rem;
}

// Helpers

.mt-4 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mt-0\.5 {
  margin-top: 0.5rem;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.default-cursor {
  cursor: default;
}

.thin-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.semi-bold {
  font-weight: 400;
}

.hide_vertical_scrollbar {
  -ms-overflow-style: none;  // Internet Explorer 10+
  scrollbar-width: none;  // Firefox
}
.hide_vertical_scrollbar::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
