<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body data-page="{{ page.layout }}">
    {{ content }}

    {% assign relative_url = site.url | append: site.baseurl %}
    {% if page.js %}
    <script type="text/javascript" src="{{ relative_url | append: page.js }}"></script>
    {% endif %}
    {% if page.runtime %}
    <script type="text/javascript" src="{{ relative_url | append: '/assets/js/runtime.js' }}"></script>
    {% endif %}
  </body>
</html>
