---
layout: default
---

{% assign relative_url = site.url | append: site.baseurl %}

{%- include top-nav.html -%}
<div id="plot-processing" class="processing hidden">
  {%- include loading-plot.html -%}
  {%- include link-google.html -%}
  {%- include loading-issue.html -%}
</div>


<div id="plot" class="page-container invisible">
  <!-- Plot title -->
  <div class="wrapper-sm mb-4">
    <div class="plot-spreadsheet-header">
      <div class="plot-spreadsheet-header-title">
        <a id="plot-spreadsheet-url" class="plot-spreadsheet-url" target="_blank" rel="noopener noreferrer">
          &#8592; <span id="plot-spreadsheet-title"></span>
        </a>
        <div id="plot-title" class="plot-title"></div>
      </div>

      <div class="plot-spreadsheet-header-options">
        <!-- Customize option -->
        <div class="dropdown">
          <div id="customize-button" class="plot-spreadsheet-option dd-button">
            Customize
          </div>
          <div id="customize-menu" class="dd-menu invisible">
            <div class="dd-menu-div">
              <div class="dd-menu-header">
                Customize <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text dd-menu-text-lower">
                This option will allow you to change the colors, labels, and scales of this graphic. You'll also be able to highlight parts of it to focus attention or make a point.
              </div>
            </div>
          </div>
        </div>

        <!-- Download option -->
        <div class="dropdown">
          <div id="download-button" class="plot-spreadsheet-option dd-button">
            Download image
          </div>
          <ul id="download-menu" class="dd-menu invisible">
            <li id="download-svg" class="enable-dd-menu-item">
              <div class="dd-menu-header">
                Download SVG <span class="dd-menu-text-desc">(Infinite resolution)</span>
              </div>
              <div class="dd-menu-text">
                Doesn't work with all apps. Best for the web and print publishing.
              </div>
            </li>
            <li style="padding-top: 0; padding-bottom: 0;"><div class="dd-menu-border-bottom"/></li>
            <li id="download-png" class="enable-dd-menu-item">
              <div class="dd-menu-header">
                Download PNG <span class="dd-menu-text-desc">(Medium resolution)</span>
              </div>
              <div class="dd-menu-text">
                Best for slides, docs, and most apps.
              </div>
            </li>
          </ul>
        </div>

        <!-- Save option -->
        <div class="dropdown">
          <div id="save-button" class="plot-spreadsheet-option dd-button">
            Save to Google Drive
          </div>
          <div id="save-menu" class="dd-menu invisible">
            <div class="dd-menu-div">
              <div class="dd-menu-header">
                Save to Google Drive <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text dd-menu-text-lower">
                This option will allow you to save this graphic to your Google Drive. That makes it easy to use in your Google Slides and Docs.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End plot title -->

  <!-- Actual plot -->
  <div class="wrapper-md mb-4">
    <div id="actual-plot" class="actual-plot"></div>
  </div>
</div>
