---
layout: default
---

{% assign relative_url = site.url | append: site.baseurl %}

<div id="report-container" class="report-container">

  <div class="report-header">
    <div id="report-new-button" class="report-new-button">
      <a href="/" target="_blank" class="report-new-text">New Spreadsheet</a>
    </div>

    <div class="report-top-options">
      <div class="top-option">Saved Reports</div>
      <div class="top-option">Settings</div>
    </div>
  </div>

  <div id="report-processing" class="report-processing">
    {%- include loading-report.html -%}
    {%- include link-google.html -%}
    {%- include loading-issue.html -%}
  </div>

  <div id="report" class="report invisible">

    <div class="report-spreadsheet-header">
      <div class="report-spreadsheet-header-title">
        <a id="report-spreadsheet-url" class="report-spreadsheet-url" target="_blank" rel="noopener noreferrer">
          View spreadsheet <img src="/assets/images/expand.png" />
        </a>
        <div id="report-spreadsheet-title" class="report-spreadsheet-title"></div>
        <div id="report-help" class="report-help">
          Click on one of the visualizations in this report to see it up close, learn what it means, download it, or save it to your Google Drive.
        </div>
      </div>
      <div>
        <div class="report-spreadsheet-header-save-message">
          <span id="save-this-report" class="save-this-report">Save this report</span> to your Google Drive so you can quickly access it again.
        </div>
      </div>
    </div>

  </div>
</div>
