---
layout: default
---

{% assign relative_url = site.url | append: site.baseurl %}

{%- include top-nav.html -%}
<div id="report-processing" class="processing">
  {%- include loading-report.html -%}
  {%- include link-google.html -%}
  {%- include loading-issue.html -%}
</div>

<div id="report" class="page-container invisible">
  <!-- Report title -->
  <div class="wrapper-sm mb-4">
    <div class="report-spreadsheet-header">
      <div class="report-spreadsheet-header-title">
        <a id="report-spreadsheet-url" class="report-spreadsheet-url" target="_blank" rel="noopener noreferrer">
          View spreadsheet &#8594;
        </a>
        <div id="report-spreadsheet-title" class="report-spreadsheet-title"></div>
      </div>
      <div class="report-spreadsheet-header-options">
        <!-- Change use case option -->
        <div class="dropdown">
          <div id="use-case-button" class="report-spreadsheet-option dd-button">
            Change use case <span class="thin-text">(Document)</span>
          </div>
          <ul id="use-case-menu" class="dd-menu invisible">
            <li id="document-use-case" class="enable-dd-menu-item">
              <div class="dd-menu-header">
                Document <span class="dd-menu-text-desc">(Enabled)</span>
              </div>
              <div class="dd-menu-text">
                Graphics are designed for a document or report, like a Google Doc, print magazine article, scientific paper, or any PDF.
              </div>
            </li>
            <li style="padding-top: 0; padding-bottom: 0;"><div class="dd-menu-border-bottom"/></li>
            <li id="slides-use-case" class="disable-dd-menu-item">
              <div class="dd-menu-header">
                Slides <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text">
                Graphics are designed for a slide show presentation. They're designed to be viewed on a larger screen but from a distance.
              </div>
            </li>
            <li style="padding-top: 0; padding-bottom: 0;"><div class="dd-menu-border-bottom"/></li>
            <li id="website-use-case" class="disable-dd-menu-item">
              <div class="dd-menu-header">
                Website <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text">
                Graphics are designed for the web, like a blog, digital magazine, or web application. They're designed for desktop viewing and interaction.
              </div>
            </li>
          </ul>
        </div>

        <!-- Template option -->
        <div class="dropdown">
          <div id="template-button" class="report-spreadsheet-option dd-button">
            Make a template
          </div>
          <div id="template-menu" class="dd-menu invisible">
            <div class="dd-menu-div">
              <div class="dd-menu-header">
                Make a template <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text dd-menu-text-lower">
                This option will allow you to render only your favorite graphics from this report. This can speed things up considerably once you know what like.
              </div>
            </div>
          </div>
        </div>

        <!-- Save option -->
        <div class="dropdown">
          <div id="save-button" class="report-spreadsheet-option dd-button">
            Save to Google Drive
          </div>
          <div id="save-menu" class="dd-menu invisible">
            <div class="dd-menu-div">
              <div class="dd-menu-header">
                Save to Google Drive <span class="dd-menu-small-desc">Not yet implemented</span>
              </div>
              <div class="dd-menu-text dd-menu-text-lower">
                This option will allow you to save this report to your Google Drive. You won't need to remake all of these graphics when you want to access this report again.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End report title -->

  <div class="wrapper-sm mb-3">
    <p class="general-paragraph-text">
      By the same illusion which lifts the horizon of the sea to the level of the spectator on a hillside, the sable cloud beneath was dished out, and the car seemed to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
    </p>
  </div>

  <!-- report-plots-container's added here -->
</div>
